*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	width: 100%;
	background: #eee;
}
button{
	padding: 10px;
	cursor: pointer;
}
.main-container{
	display: flex;
	width: 100%;
	height: 100vh;
}
.body-nav-bar{
	width: 200px;
	background: #c86a09;
	height: 100%;
	padding: 10px;
	color: #fff;
}
.body-nav-bar img{
	padding: 20px 0;
	width: 100%;
}
.body-nav-bar ul li{
	display: flex;
}
.mt10{
	margin-top: 10px;
}
.body-nav-bar ul li a{
	padding: 10px;
	width: 100%;
	text-decoration: none;
	color: #fff;
}
.body-nav-bar ul li a:hover{
	color: #ccc;
	background: #d98d3f;
}

.body-page{
	width: calc(100% - 200px);
	height: 100%;
	padding: 10px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
th,td{
	padding: 5px;
	border: 1px solid #666;
}
th{
	background: #c86a09;
	color: #fff;
}
.td-option{
	width: 60px;
}
.div-flex{
	display: flex;
}
.div-td-button{
	width: 60px;
}	
.div-td-button button{
	width: 30px;
	padding: 5px;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 20px;
	background: rgba(50,50,50,0.5);
}
.body-modal{
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}
.btn-close{
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border:none;
	outline: none;
}
input{
	padding: 5px;
	border:1px solid #666;
}
select{
	padding: 5px;
	border:1px solid #666;
}
.body-modal h3{
	margin-bottom: 10px;
}
.body-modal .div-flex{
	display: flex;
	margin-bottom: 5px;
}
.body-modal .div-flex label{
	width: 100px;
}
.body-modal .div-flex input{
	width: calc(100% - 100px);
}
.body-modal .div-flex select{
	width: calc(100% - 100px);
}